<!DOCTYPE html>
<html>
<head>
  <title>Mapy</title>
  <meta charset="UTF-8">
  <script src="/static/script.js" defer></script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-icons/siimple-icons.css" />
</head>
<body>
  <div class="container">
    <!-- Side Bar -->
    <div class="left">
      <div class="inside-header">
        <h2>Welcome to Mapy</h2> 
        <h2>&#128510;</h2>

      </div>  
      <h3>Designed for Bit</h3> 
      <div class="transport">
        <p>How would you like to walk today?</p> 
        <label><input type="radio" name="travel_mode" value="walk" checked> Walk🚶‍♂️</label>
        <label><input type="radio" name="travel_mode" value="drive"> Car 🚘</label>
      </div>
      <div class="reset">
        <button id="resetButton">Clear Paths</button>
        <button id="resetMap">Regenerate Map</button>
      </div>

    </div>

    <!-- Map -->
    <div class="right">
        <canvas id="mapCanvas"></canvas>
    </div>
</div>
</body>
</html>