<!DOCTYPE html>
<html>
<head>
  <title>Mapy</title>
  <meta charset="UTF-8">
  <script src="/static/script.js" defer></script>
  <link rel="icon" href="static/images/snoise2_v2_imresizer.jpg" type="image/jpg"/>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <!-- Left -->
    <div class="left">
      <div class="inside-header">
        <h2>Welcome to Mapy</h2> 
        <h2>&#128510;</h2>
      </div>  
      <h3>Designed for Bit</h3>
      <!-- Travel Info -->
      <div class="travel" >
        <div class="travel-time">
          <span>Information about your last path:</span>
          <span class="label">Travel time:</span>
          <span class="value" id="time-value">-</span>
        </div>
        <div class="travel-distance">
          <span class="label">Distance:</span>
          <span class="value" id="distance-value">-</span>
        </div>
      </div>
       <!-- Transport -->
      <div class="transport">
        <p>Please choose your way of transport &#128512;</p> 
        <label><input type="radio" name="travel_mode" value="walk" checked> Walk&#128694;</label>
        <label><input type="radio" name="travel_mode" value="drive"> Drive &#128664;</label>
      </div>
      <div class="reset">
        <button id="resetButton">Clear Paths</button>
        <button id="resetMap">Regenerate Map</button>
      </div>
      <!-- Map Legend -->
      <div class="legend">
        <div class="legend-item">
          <div class="color-box" style="background:#1915a0"></div>
          <span>Ocean</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#0074D9"></div>
          <span>Water</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#e9e591"></div>
          <span>Sand</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#0b892c"></div>
          <span>Land</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#054917"></div>
          <span>Forest</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#7b3b0a"></div>
          <span>Mountain</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#4b2406"></div>
          <span>High Mountain</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#a7a9a2"></div>
          <span>Stone</span>
        </div>
        <div class="legend-item">
          <div class="color-box" style="background:#caf1ff"></div>
          <span>Snow</span>
        </div>
      </div>
    </div>
    <!-- Map -->
    <div class="right">
        <canvas id="mapCanvas"></canvas>
    </div>
</div>
</body>
</html>