<!DOCTYPE html>
<html>
<head>
  <title>Mapy</title>
  <meta charset="UTF-8">
  <script src="/static/script.js" defer></script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/siimple-icons/siimple-icons.css" />
</head>
<body>
  <div class="container">
    <!-- Left Side: Investment Form -->
    <div class="left">
      <div class="inside-header">
        <h2>Welcome to Mapy</h2> 
        <!-- <i class="si-map"></i> -->
        <h2>&#128510;</h2>

      </div>  
      <h3>Designed for Bit</h3> 
      <div class="transport">
        <p>How would you like to walk today?</p> 
        <label><input type="checkbox" value="walk"> Walk 🚶‍♂️</label>
        <label><input type="checkbox" value="car"> Car 🚘</label>
      </div>

    </div>

    <!-- Right Side: Projection Results -->
    <div class="right">
        <canvas id="mapCanvas"></canvas>
    </div>
</div>
</body>
</html>